six
numpy
pandas
varcode>=0.5.9
isovar>=0.2.4
mhctools>=0.3.1
roman
jinja2
pdfkit  # needs wkhtmltopdf: brew install Caskroom/cask/wkhtmltopdf
pypandoc  # needs pandoc: brew install pandoc
shellinford
